.forecast {
  width: 100%;
}

.title {
  margin-bottom: 20px;
}

.dailyList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  text-align: center;
}

@media screen and (min-width: 770px) {
  .dailyList {
    flex-wrap: nowrap;
  }
}

.dailyItem {
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);

  border-radius: var(--radius-12);
  padding: 16px;

  flex-basis: calc((100% - 32px) / 3);

  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}
@media screen and (min-width: 770px) {
  .dailyItem {
    padding: 16px 10px;
  }
}

.degreeBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day {
  composes: text-preset-7 from global;
}

.night {
  composes: text-preset-7 from global;
  color: var(--neutral-200);
}
