.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cityBlock {
  padding: 41px 0;
  text-align: center;
  background: url("/hero/desktop-hero.svg") no-repeat center;
  border-radius: var(--radius-20);
}

@media screen and (min-width: 770px) {
  .cityBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 83px 24px;

    text-align: start;
  }
}

.textBlock {
  margin-bottom: 16px;
}

@media screen and (min-width: 770px) {
  .textBlock {
    margin-bottom: 0;
  }
}

.cityName {
  composes: text-preset-4 from global;
  color: var(--neutral);
  margin-bottom: 12px;
}

.dateName {
  composes: text-preset-6 from global;
  color: var(--neutral);
  opacity: 80%;
}

.degreeBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.temperature {
  composes: text-preset-1 from global;
}

.dataList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

@media screen and (min-width: 770px) {
  .dataList {
    flex-wrap: nowrap;
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .dataList {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.dataItem {
  background-color: var(--neutral-800);
  border: 1px solid var(--neutral-600);
  padding: 18px;
  border-radius: var(--radius-12);

  flex-basis: calc((100% - 16px) / 2);
}

@media screen and (min-width: 770px) {
  .dataItem {
    flex-basis: calc((100% - 60px) / 4);
  }
}
.dataItemText {
  composes: text-preset-6 from global;
  color: var(--neutral-200);
  margin-bottom: 24px;
}

.dataItemValue {
  composes: text-preset-3 from global;
}
