.container {
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .container {
    max-width: 720px;
    padding: 0 24px;
    margin: 0 auto;
    border: 1px solid var(--neutral);
  }
}
@media screen and (min-width: 1216px) {
  .container {
    max-width: 1216px;
    padding: 0 112px;
    margin: 0 auto;
    border: 1px solid var(--neutral);
  }
}
